.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
  will-change: opacity, transform;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 768px) {
  .reveal {
    transform: translateY(40px);
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@media (max-width: 576px) {
  .reveal {
    transform: translateY(30px);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}