.container-scroll-wrapper {

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
}

.scroll-inner {
  padding: 100px 0;
  width: 100%;
  perspective: 1000px;
  position: relative;
  padding-top: 0;
}

.header {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.card {
  max-width: 800px;
  margin: -40px auto 0 auto;
  height: 40rem;
    width: 56%;
  border: 4px solid #6c6c6c;
  padding: 20px;
  background: #222;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.card-inner {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  background: #05040a;
}
    



@media (max-width: 1200px) {
  .card {
    width: 80%;

  }
}

@media (max-width: 992px) {
  .container-scroll-wrapper {
    padding: 30px;
  }
  
  .scroll-inner {
    padding: 80px 0;
  }
  
  .card {
    width: 76%;

  }
}

@media (max-width: 768px) {
  .container-scroll-wrapper {
    padding: 20px;
  }
  
  .scroll-inner {
    padding: 60px 0;
  }
  
  .header {
    max-width: 90%;
  }
  
  .card {
    width: 104%;

    margin: -30px auto 0 auto;
    border-radius: 25px;
    padding: 15px;
  }
  
  .card-inner {
    border-radius: 15px;
    padding: 30px;
  }
}

@media (max-width: 576px) {
  .container-scroll-wrapper {
    padding: 15px;
  }
  
  .scroll-inner {
    padding: 40px 0;
  }
  
  .card {
    width: 105%;
    margin: -20px auto 0 auto;
    border-radius: 20px;
    padding: 12px;
    border-width: 3px;
  }
  
  .card-inner {
    border-radius: 12px;
  }
}

@media (max-width: 400px) {
  .container-scroll-wrapper {
    padding: 10px;
  }
  
  .scroll-inner {
    padding: 30px 0;
  }
  
  .card {
    width: 130%;

    margin: -15px auto 0 -40px;
    border-radius: 15px;
    padding: 10px;
  }
} 