body {
  color: rgb(163, 163, 163);
}

.container {
  opacity: 0;
}

.liquidhr {
  position: relative;
  height: 1px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #006a81, #19003a, #006a81);
  background-size: 200% 100%;
  animation: liquidFlow 4s linear infinite;
  border-radius: 50px;
  box-shadow: 0 0 12px rgba(0, 200, 255, 0.6), 0 0 24px rgba(140, 0, 255, 0.4);
  width: 90%;
  margin: auto;
}

@keyframes liquidFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.IntroText {
  font-family: var(--font-poppins), sans-serif;
  width: 547px;
  font-size: 3rem;
  position: absolute;
  top: 156px;
  left: 169px;
  animation: movin 0.6s ease-in-out forwards 2.5s;
  opacity: 0;
}
@keyframes movin {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(-49px);
  }
}

.background {
  position: relative;
  z-index: 0;
}
.HomeAB {
  position: absolute;
  z-index: 13;
  left: 23px;
}
.AbFaiq {
  color: rgb(0, 170, 255);
}

.FaiqImg {
  width: 317;
  height: 317;
  position: absolute;
    top: 144px;
  left: 803px;
  /* background-color: rgb(0 170 255 / 81%);
  border-radius: 48% 52% 53% 47% / 29% 30% 70% 71%; */
  animation: movinFIMG 0.6s ease-in-out forwards 2.5s;
  opacity: 0;
}
@keyframes movinFIMG {
  from {
    opacity: 0;
    transform: translateX(290px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.ImgBack {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 2px;
  left: 6px;


}
.FImg {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 2px;
  left: 6px;
  /* object-fit: contain;  */
  /* border-radius: 248px; */
}
